@model AAS2237A5.Models.EpisodeWithShowNameViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeasonNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EpisodeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EpisodeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Actor Image" style="max-height: 100px; max-width: 100px;" />
            }
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ShowId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreId)
        </dd>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
