@model IEnumerable<AAS2237A5.Models.EpisodeBaseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Episode List</h2>

@using System.Security.Claims;
@if ((User as ClaimsPrincipal).HasClaim(ClaimTypes.Role, "Clerk"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpisodeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clerk)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)<br/>
                <i>@Html.DisplayFor(modelItem => item.Show.Name)</i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpisodeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirDate)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@item.ImageUrl" alt="Actor Image" style="max-height: 100px; max-width: 100px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clerk)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.EpisodeId }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.EpisodeId })*@
            </td>
        </tr>
    }

</table>
